In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import KFold 
import math
from sklearn.metrics import mean_absolute_error as mae
from sklearn import linear_model
from sklearn.metrics import mean_squared_error

In [3]:
# Loading the dataset
# Using pandas
# Reading dataset
dataset = pd.read_table('ratings.dat', header = None, sep = '::', engine = 'python', usecols = [0,1,2], names = ('UserID','MovieID', 'Ratings'))

dataset.head()

# Are there missing values?
dataset.isna().sum()

# Keep in mind that there are “gaps” in numbering of users and items. (Dictionaries? Renumber everything? …)
# What is meant with this??

UserID     0
MovieID    0
Ratings    0
dtype: int64

In [4]:
# Make the cross validation

n_splits = 5
KF = KFold(n_splits=n_splits, random_state=123, shuffle=True)

# Create Lists 
GlobalAvergage_RMSE, UserAverage_RMSE, MovieAverage_RMSE, LinReg_RMSE, LinRegInter_RMSE = list(),list(),list(),list(),list()
GlobalAvergage_MAE, UserAverage_MAE, MovieAverage_MAE, LinReg_MAE, LinRegInter_MAE = list(),list(),list(),list(),list()

GlobalAvergage_RMSE_test, UserAverage_RMSE_test, MovieAverage_RMSE_test, LinReg_RMSE_test, LinRegInter_RMSE_test = list(),list(),list(),list(),list()
GlobalAvergage_MAE_test, UserAverage_MAE_test, MovieAverage_MAE_test, LinReg_MAE_test, LinRegInter_MAE_test = list(),list(),list(),list(),list()

In [24]:
# missing_UID = [i for i in np.unique(X_train['UserID']) if i not in np.unique(X_test['UserID'])]
print(missing_UID)

# # Models
# UserAverage = dataset.iloc[train]
# # User = UserAverage.set_index('UserID')
# UserAverage = UserAverage.groupby('UserID')['Ratings'].mean()

avg_user = train.groupby("UserID").mean()['Rating']
avg_user = np.vstack((avg_user.index.values, avg_user)).T
dict_user = dict(avg_user)

df = UserAverage.to_frame().reset_index()
df.join

[2549, 2582, 3911]

         UserID  MovieID
0             1     1193
1             1      661
2             1      914
3             1     3408
4             1     2355
...         ...      ...
1000202    6040     1089
1000203    6040     1090
1000205    6040     1094
1000206    6040      562
1000207    6040     1096

[800167 rows x 2 columns]

In [37]:
Test_set

         UserID  MovieID  Ratings
4             1     2355        5
5             1     1197        3
12            1     2398        4
20            1     2321        3
29            1      745        3
...         ...      ...      ...
1000194    6040     1077        5
1000195    6040     1079        2
1000196    6040      549        4
1000199    6040     2022        5
1000206    6040      562        5

[200041 rows x 3 columns]

In [78]:
# Naive Approach - User Average nick

for train, test in KF.split(dataset):
    predicted = list()
    user_dict = {}
    #Define X and y in train and test
    X_train, X_test = dataset.iloc[train, 0:2], dataset.iloc[test, 0:2]
    y_train, y_test = dataset.iloc[train, -1], dataset.iloc[test, -1]
    
    Train_set = dataset.iloc[train]
    Test_set = dataset.iloc[test]
    Global_mean = Train_set['Ratings'].mean()
    avg_user = Train_set.groupby("UserID").mean()['Ratings']
    keys = avg_user.index.values
    for i in keys:
        user_dict[i] = avg_user[i]
    
    for u, m, r in np.array(test):
        if u in user_dict:
            predicted.append(user_dict[u])
        else:
            predicted.append(Global_mean)
    
    print(predicted)

TypeError: cannot unpack non-iterable numpy.int32 object

In [3]:
# Naive Approach - User Average nicolette

for train, test in KF.split(dataset):
    #Define X and y in train and test
    X_train, X_test = dataset.iloc[train, 0:2], dataset.iloc[test, 0:2]
    y_train, y_test = dataset.iloc[train, -1], dataset.iloc[test, -1]
    
    # Models
    UserAverage = dataset.iloc[train]
    User = UserAverage.set_index('UserID')
    UserAverage = User.groupby('UserID')['Ratings'].transform('mean') 
    print(UserAverage)  
    
    pred_UserAverage = UserAverage 

    listtrain = User.unique('UserID')
    for userID in range(len(dataset.iloc[test])):
      if userID in listtrain:
        
    #pred_UserAverage_test = UserAverage_test 

  
    #RMSE's 
    RMSE_UserAverage = math.sqrt(mean_squared_error(pred_UserAverage,y_train))
    #RMSE_UserAverage_test = math.sqrt(mean_squared_error(pred_UserAverage_test,y_test))

    UserAverage_RMSE.append(RMSE_UserAverage)
    #UserAverage_RMSE_test.append(RMSE_UserAverage_test)

    
    # MAE's 
    #MAE_UserAverage = mae(pred_UserAverage, y_train)
    #MAE_UserAverage_test = mae(pred_UserAverage_test, y_test)

    #UserAverage_MAE.append(MAE_UserAverage)
    #UserAverage_MAE_test.append(MAE_UserAverage_test)

   UserID  MovieID  Ratings
0       1     1193        5
1       1      661        3
2       1      914        3
3       1     3408        4
4       1     2355        5